{# Global dictionaries for port roles #}
{%- set ports_roles1 = {} %}
{%- set ports_roles2 = {} %}
{%- set ports_roles3 = {} %}

{%- macro determine_switch_role() %}
    {%- if DEVICE_METADATA is defined and DEVICE_METADATA['localhost']['type'] is defined %}
        {%- set switch_role = DEVICE_METADATA['localhost']['type'] %}
    {%- else %}
        {%- set switch_role = '' %}
    {%- endif %}
    {{ switch_role }}
{%- endmacro -%}

{%- macro determine_ports_roles(port_list) %}
    {%- set switch_role = determine_switch_role() %}
    {%- if DEVICE_NEIGHBOR is defined %}
        {%- for port_name in port_list %}
            {%- if port_name in DEVICE_NEIGHBOR %}
                {%- if DEVICE_NEIGHBOR_METADATA is defined and DEVICE_NEIGHBOR_METADATA[DEVICE_NEIGHBOR[port_name].name] %}
                    {%- set neighbor = DEVICE_NEIGHBOR_METADATA[DEVICE_NEIGHBOR[port_name].name] %}
                    {%- set neighbor_role = neighbor.type %}
                    {%- if 'edgezoneaggregator' == neighbor_role | lower %}
                        {%- set neighbor_role = 'LeafRouter' %}
                    {%- endif %}
                    {%- if 'asic' == neighbor_role | lower %}
                        {%- set _ = ports_roles1.update({port_name: 'internal'}) %}
                    {%- else %}
                        {%- set roles1 = switch_role + '_' + neighbor_role %}
                        {%- set roles2 = neighbor_role + '_' + switch_role %}
                        {%- set roles1 = roles1 | lower %}
                        {%- set roles2 = roles2 | lower %}
                        {%- set roles1 = roles1.replace('backend', '') %}
                        {%- set roles2 = roles2.replace('backend', '') %}
                        {%- set _ = ports_roles1.update({port_name: roles1}) %}
                        {%- set _ = ports_roles2.update({port_name: roles2}) %}
                    {%- endif %}
                {%- endif %}
            {%- elif port_name.startswith('Ethernet-BP') %}
                {%- set _ = ports_roles1.update({port_name: 'internal'}) %}
            {%- elif 'torrouter' in switch_role.lower() and 'mgmt' not in switch_role.lower()%}
                {%- for local_port in VLAN_MEMBER %}
                    {%- if local_port[1] == port_name %}
                        {%- set roles3 = switch_role + '_' + 'server' %}
                        {%- set roles3 = roles3 | lower %}
                        {%- set roles3 = roles3.replace('backend', '') %}
                        {%- set _ = ports_roles1.update({port_name: roles3}) %}
                        {%- set _ = ports_roles3.update({port_name: roles3}) %}
                    {%- endif %}
                {%- endfor %}
            {%- endif %}
        {%- endfor %}
    {%- endif %}
{%- endmacro -%}

{%- macro determine_cable_length(port_name, port_dpc_list, ports2cable, default_cable='5m') %}
    {# Calculate cable length based on port roles #}
    {%- if port_name in port_dpc_list -%}
        {{ '0m' }}
    {%- elif port_name in ports_roles1 and ports_roles1[port_name] in ports2cable -%}
        {{ ports2cable[ports_roles1[port_name]] }}
    {%- elif port_name in ports_roles2 and ports_roles2[port_name] in ports2cable -%}
        {{ ports2cable[ports_roles2[port_name]] }}
    {%- elif port_name in ports_roles3 and ports_roles3[port_name] in ports2cable -%}
        {{ ports2cable[ports_roles3[port_name]] }}
    {%- else -%}
        {{ default_cable }}
    {%- endif %}
{%- endmacro -%}

{%- macro get_port_role(port_name) %}
    {%- if port_name in ports_roles1 -%}
        {{ ports_roles1[port_name] }}
    {%- elif port_name in ports_roles2 -%}
        {{ ports_roles2[port_name] }}
    {%- elif port_name in ports_roles3 -%}
        {{ ports_roles3[port_name] }}
    {%- else -%}
        {{ 'unknown' }}
    {%- endif %}
{%- endmacro -%}

{%- macro is_port_of_role(port_name, role_to_check) %}
    {%- set port_role = get_port_role(port_name) %}
    {%- if port_role == role_to_check %}
        {{ 'true' }}
    {%- else %}
        {{ 'false' }}
    {%- endif %}
{%- endmacro %}
